<form class="ui large form segment">
  <h3 class="ui header">Agregue un enlace</h3>
  <div class="field">
    <label for="title">Titulo:</label>
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">Enlace:</label>
    <input name="link" #newlink>
  </div>
  <button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">
    Cargar enlace
  </button>
  <div class="ui grid posts">
    <app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
  </div>
</form>